@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
    height: 100%;
    width:100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    background-color: #F8F8F8;
}
.navbar{
    padding: .8rem ;
}
.navbar-nav li{
    padding-right: 20px;
}
.nav-link{
    font-size: 1.1em !important;
}

.card-img{
    height: 50%;
    width: 100%;
}

.card{
   width: 15rem;
    height: 30rem;
    background-color: #3f3f3f;
    color: white;
}


.card-profile{
    width: 30rem;
    height: 30rem;

}
.card-body{
    max-height: 250px;
    max-width: 350px;
}



.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 2px 2px 20px #000;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 2px 2px 10px #000;
}

.btn-primary{
    background-color: #6648b9;
    border: 1px solid #563d7c;
}

.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding{
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-android{
    color: #A4C639;
}

.fa-apple{
    color: #7D7D7D;
}

.fa-apple, .fa-android, .fa-instagram, .fa-twitter, .fa-facebook{
    font-size: 4em;
    margin: 1rem;
}

.fun{
    width: 100%;
    margin-bottom: 2rem;
}

.gif{
    max-width: 100%;
}

.fa-facebook{
    color: #3b5998 ;
}
.fa-twitter{
    color: #00aced ;
}

.fa-instagram{
    color: #517fa4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover{
    color: #6b0080;
}

.profile-card{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
    .carousel-caption h1{
        font-size: 350%;
        text-transform: uppercase;
        text-shadow: 2px 2px 20px #000;
    }
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        text-shadow: 2px 2px 10px #000;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4{
        font-size: 200%;
    }
    .fa-apple, .fa-android,.fa-instagram,.fa-twitter,.fa-facebook{
        font-size: 3em;
        margin: 1rem;
    }
}
@media (max-width: 576px) {
    .carousel-caption h1{
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 2px 2px 20px #000;
    }

    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h3{
        font-size: 110%;
        text-shadow: 2px 2px 10px #000;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size: 160%;
    }
    .fa-apple, .fa-android,.fa-instagram,.fa-twitter,.fa-facebook{
        font-size: 2em;
        margin: 1rem;
    }
}

.loginform body{
    background: url("assets/img/Party.png") no-repeat center center fixed;
    background-size: cover ;
}

.main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content{
    background-color: #3f3f3f;
    opacity: .95;
    padding: 0 18px;
    box-shadow: 0 0 4px #848484;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 0 2px #848484;
}

.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    padding-left: 54px;
}

.form-group::before{
    font-family: 'Font Awesome\ 5 Free', sans-serif;
    content: "\f007";
    position: absolute;
    font-size: 22px;
    color: #3f3f3f;
    left: 28px;
    padding-top: 4px;
}
.form-group:last-of-type::before{
    content: "\f023";
}

/*.svg-inline--fa{
    font-size: 20px;
    margin-right: 7px;
}*/

.forgot{
    padding:5px 0 25px;
}

.forgot a{
    color: #6648b9;
}

.grid-divider {
    overflow-x: hidden;/* quickfix to hide divider on left side*/
    position: relative;
}

.chart-style{

}
/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('assets/img/Tipsylogo.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/